@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Fontanez Pizzeria!!!</h1>
        <h2 class="mainSubTitle">Fontanez Pizzeria The Best Pizza in Las Vegas</h2>
    </div>    
    <img class="mainImage" src="~/images/PizzaTime.jpg" alt="pizza guy"/>
    <br/>
    <a class="btn btn-primary mt-1 " asp-area="" asp-page="Checkout/ThankYou">BRING ME THAT PIZZA</a>
</div>