@page
@model FontanezPizzeria.Pages.Orders

@{
}

<h3>Orders</h3>
<hr/>

<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Pizza Name
        </th>
        <th>
            Price
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.PizzaOrderModels)
        {
            <tr>
                <th>
                    @order.Id
                </th>
                <th>
                    @order.PizzaName
                </th>
                <th>
                    @order.BasePrice
                </th>                
            </tr>
        }
    <tr>

    </tr>
    </tbody>
</table>